.sidebar {
  width: 250px;
  /* height: 100vh; */
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 150px;
}

.menu {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.menuItem span {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.menuItem:hover {
  background-color: #f3f7fd;
}

.active {
  background-color: #f3f7fd;
}

.icon {
  font-size: 20px;
  color: black;
}

.active span {
  color: #2a6cf0;
}

.active .icon {
  color: #2a6cf0;
}
