.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mainContent {
  display: flex;
  flex: 1;
}

.analyticsContainer {
  background-color: whitesmoke;
  padding: 40px;
  flex: 1; /* Ensures it fills remaining space */
}

.analyticsTable {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100%;

  border-collapse: collapse;
  table-layout: fixed;
  border-collapse: separate; /* Use separate borders to allow border-radius */
  border-spacing: 0; /* Remove spacing between cells */
  border-radius: 8px; /* Apply border-radius to the table */
  overflow: hidden; /* Ensure rounded corners are visible */
  table-layout: fixed; /* Ensure fixed layout for columns */
}

.analyticsTable th {
  background-color: #f3f7fd;
  padding: 12px 15px;
  text-align: left;
  font-weight: 600;
}

.analyticsTable td {
  background-color: white;
  font-weight: 500;
  padding: 18px 15px;
  border-bottom: 1px solid #dddddd1e;
  vertical-align: middle;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}
