.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tableCell {
  padding: 10px;
  white-space: nowrap;
}

.cellContent {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between text and icon */
  max-width: 100%;
  overflow: hidden;
}

.urlText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1; /* Takes up remaining space */
}

.copyIcon {
  min-width: 20px;

  cursor: pointer;
}

.mainContent {
  display: flex;
  flex: 1;
}
.sortIcon {
  position: absolute;
  margin-top: 1.8px;
  cursor: pointer;
}

.linksContainer {
  background-color: whitesmoke;
  padding: 20px;
  flex: 1; /* Ensures it fills remaining space */
}

.linksTableContainer {
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.linksTable {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  table-layout: fixed;
  border-collapse: separate; /* Use separate borders to allow border-radius */
  border-spacing: 0; /* Remove spacing between cells */
  border-radius: 8px; /* Apply border-radius to the table */
  overflow: hidden; /* Ensure rounded corners are visible */
  table-layout: fixed; /* Ensure fixed layout for columns */
}

.linksTable th {
  background-color: #f3f7fd;
  padding: 12px 15px;
  text-align: left;
  font-weight: 600;
}

.linksTable td {
  background-color: white;
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd40;
  vertical-align: middle;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.active {
  color: #1eb036;
}

.inactive {
  color: #b0901e;
}
