.navbar {
  border-width: 2px;
  border-color: black;

  padding: 20px 20px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.logo img {
  height: 32px;
}

.greetings {
  display: flex;
  align-items: center;
}

.greetings img {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.greetings h3,
.greetings p {
  margin: 0;
}

.searchIcon {
  position: absolute;
  margin-left: 5px;
  color: #0e0c0c;
  font-size: 16px;
}

.icon {
  margin-right: 8px; /* Add space between the icon and the text */
}

.createButton {
  background-color: blue;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

.search img {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.search input {
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.profile img {
  height: 25px;
  border-radius: 50%;
}
